#
# $Id: .htaccess 13 2013-03-14 08:12:23Z zhaoxing $
#
<Files ~ "^.(htaccess|htpasswd)$">
#deny from all
</Files>
Options -Indexes
order deny,allow
# 图片缓存 30 分钟
<FilesMatch ".(gif|jpg|jpeg|png|ico|gif)$">
# Header set Cache-Control "max-age=1800"
Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
</FilesMatch>
# css/js 缓存 30 分钟
<FilesMatch ".(css|js)$">
# Header set Cache-Control "max-age=1800"
Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
</FilesMatch>
# json 和 xml 是伪静态的数据 不允许缓存
<FilesMatch ".(json|xml)$">
Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
</FilesMatch>
# 伪静态
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(js|ico|gif|jpg|png|css)$ index.php [L]
</IfModule>
# 错误文档
ErrorDocument 404 Error/404/
ErrorDocument 500 Error/500/